body {
    text-align: center;
}

.logo {
    max-width: 200px;
    max-height: 200px;
    margin: 20px;
}

.gallery-thumb {
    max-height: 300px;
    margin: 20px;
}

#loader {
    max-width: 30px;
    margin-top: 80px;
}