body {
    text-align: center;
    font-family: sans-serif;
    font-size: 12pt;
    color: gray;
}

.text {
    width: 60%;
    text-align: left;
    font-weight: normal;
    font-size: smaller;
    padding: 20px;
    margin: 0 auto;
    margin-top: 80px;
    display: block;
    line-height: 150%;
}

.text h1 {
    font-weight: normal;
}

.text img {
    max-width: 100%;
}

.selfie {
    width: 33%;
    float: right;
    padding-left: 30px;
}

.logo {
    max-width: 200px;
    max-height: 200px;
    margin: 20px;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid white;
}

.gallery-thumb {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    background-color: black;
}

.gallery-thumb-wrapper {
	display: block;
    margin: 80px;
}

#loader {
    margin-top: 80px;
}

#menu {
    display: block;
    color: #000066;
}

#menu a {
    color:gray;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a:active {
    text-decoration: underline;
}
