body {
    text-align: center;
}

.logo {
    max-width: 200px;
    max-height: 200px;
    margin: 20px;
}

.gallery-thumb {
    max-height: 100%;
    max-width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid white;
}

.gallery-thumb-wrapper {
	display: block;
    margin: 80px;
}

#loader {
    max-width: 30px;
    margin-top: 80px;
}
